<%= form_for @conversation do |f| %>
<% if @conversation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>
  </div>
  <ul>
    <% @conversation.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :description %>
    <%= f.text_area :description %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
